
.container{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.content{
    display: flex;
    transition: transform 0.3s ease;
    width: 100%;
    margin: 0 auto;
    height: 5%;
    position: relative;
    
   

}

.item{
    flex-shrink:0;
    width: 79vw;
    margin: 0 10%;
    padding: 10rem 0;
    border-radius: 4px;
 
    text-align: center;
    height: 5%;
}


.nav{
    display: flex;
    justify-content: space-between;
    margin: 0.3rem auto;
    width: 83%;
}



.button{
    width: 120px;
    height: 40px;
    background: #007;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 4px;

}

